<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShareViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <ShareViewer.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="ExtraFolder" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="AllTablesFolder" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="SharesUrl" serializeAs="String">
                <value>http://www.bsb-software.de/rese/</value>
            </setting>
            <setting name="DataDaysListingFilename" serializeAs="String">
                <value>Inhalt.txt</value>
            </setting>
            <setting name="InitialAllTableView" serializeAs="String">
                <value>"Row,Date,Day,TimeFrom,TimeTo,F,FP,FV"</value>
            </setting>
            <setting name="AllTableDataStart" serializeAs="String">
                <value />
            </setting>
            <setting name="AllTableDataEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="AllTableTradingSpan" serializeAs="String">
                <value />
            </setting>
            <setting name="AllTableViews" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Make Slow (Five minutes) Prices SP,0,2,4,6,7,8,10,11,18,21,24</string>
                        <string>Make Five minutes Price Gradients PG,0,2,4,6,7,8,10,11,12,18,19,21,22,24,25</string>
                        <string>Related volume Figure (RPGFV) of biggest PGF,0,2,4,6,7,8,10,48</string>
                        <string>Identify Lazy Shares,0,2,4,6,7,8,10,48</string>
                        <string>Columns 70-80,0,2,6,7,10,48,69,70,71,72,73,74,75,76,77,78,79</string>
                        <string>Find direction and Turning,0,2,4,6,7,8,10,11,12,18,19,21,22,24,25,67</string>
                        <string>Find Five minutes Gradients Figure PGF,0,2,4,6,7,8,10,12,13,14,15,16</string>
                        <string>Make High Line HL,0,2,4,6,7,8,10,22,25,28,29,32,33,69,70</string>
                        <string>Make Low Line LL,0,2,4,6,7,8,10,22,25,38,39,42,43,72,73</string>
                        <string>Make Slow Volumes SV,0,2,4,6,7,8,10,48,50,54,58,61</string>
                        <string>Slow Volume Figure SVFac,0,2,4,6,7,8,10,48,50,51,52,58,75</string>
                        <string>Slow Volume Figure SVFbd,0,2,4,6,7,8,10,48,54,55,56,61,76</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ParamsLazyShare" serializeAs="Xml">
                <value>
                    <LazyShareParam xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <From>1000</From>
                        <To>1000000</To>
                        <Setting>7000</Setting>
                    </LazyShareParam>
                </value>
            </setting>
            <setting name="Holidays" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>2017/12/25 = Christmas</string>
                        <string>2017/12/26 = 2nd Day of Christmas</string>
                        <string>2018/01/01 = New Years Day</string>
                        <string>2018/03/30 = Good Friday</string>
                        <string>2018/04/02 = Easter Monday</string>
                        <string>2018/05/01 = Labour Day</string>
                        <string>2018/05/10 = Ascension Day</string>
                        <string>2018/05/21 = Whit Monday</string>
                        <string>2018/05/31 = Corpus Christi</string>
                        <string>2018/10/03 = Day of German Unity</string>
                        <string>2018/12/25 = Christmas</string>
                        <string>2018/12/26 = 2nd Day of Christmas</string>
                        <string>2019/01/01 = New Years Day</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OverviewViews" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>All Columns,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27</string>
                        <string>Initial,0,1,2,3,4,5</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ParamsDirectionAndTurning" serializeAs="Xml">
                <value>
                    <DirectionAndTurningParam xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <From>0.99999</From>
                        <To>1.01</To>
                        <Z>1</Z>
                        <PGcThreshold>100000</PGcThreshold>
                    </DirectionAndTurningParam>
                </value>
            </setting>
            <setting name="ParamsFiveMinsGradientFigure" serializeAs="Xml">
                <value>
                    <FiveMinsGradientFigureParam xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <X>0</X>
                        <Y>0</Y>
                        <Z>0</Z>
                        <XMin>1</XMin>
                        <XMax>5</XMax>
                        <YMin>0</YMin>
                        <YMax>0.005</YMax>
                        <ZMin>104</ZMin>
                        <ZMax>999</ZMax>
                    </FiveMinsGradientFigureParam>
                </value>
            </setting>
            <setting name="ParamsMakeHighLine" serializeAs="Xml">
                <value>
                    <MakeHighLineParam xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <ZMin>0</ZMin>
                        <ZMax>0.001</ZMax>
                        <Z>0.0005</Z>
                    </MakeHighLineParam>
                </value>
            </setting>
            <setting name="ParamsMakeLowLine" serializeAs="Xml">
                <value>
                    <MakeLowLineParam xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <ZMin>0</ZMin>
                        <ZMax>0.01</ZMax>
                        <Z>0.005</Z>
                    </MakeLowLineParam>
                </value>
            </setting>
            <setting name="ParamsSlowVolFigSVFac" serializeAs="Xml">
                <value>
                    <SlowVolFigSVFacParam xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <XMin>1</XMin>
                        <XMax>5</XMax>
                        <X>1</X>
                        <YMin>0</YMin>
                        <YMax>0.005</YMax>
                        <Y>0</Y>
                        <ZMin>104</ZMin>
                        <ZMax>999</ZMax>
                        <Z>104</Z>
                        <WMin>1</WMin>
                        <WMax>99</WMax>
                        <W>1</W>
                    </SlowVolFigSVFacParam>
                </value>
            </setting>
            <setting name="ParamsSlowVolFigSVFbd" serializeAs="Xml">
                <value>
                    <SlowVolFigSVFbdParam xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <ZMin>104</ZMin>
                        <ZMax>2000</ZMax>
                        <Z>104</Z>
                        <YMin>0</YMin>
                        <YMax>0.005</YMax>
                        <Y>0</Y>
                        <WMin>1</WMin>
                        <WMax>99</WMax>
                        <W>1</W>
                    </SlowVolFigSVFbdParam>
                </value>
            </setting>
            <setting name="ParamsSlowPrice" serializeAs="Xml">
                <value>
                    <SlowPriceParam xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <Z>100</Z>
                        <Ya>0.98</Ya>
                        <Yb>0.95</Yb>
                        <Yc>0.8</Yc>
                        <Yd>0.7</Yd>
                        <ZMin>100</ZMin>
                        <ZMax>99999</ZMax>
                        <YMin>0</YMin>
                        <YMax>0.9999</YMax>
                    </SlowPriceParam>
                </value>
            </setting>
            <setting name="ParamsMakeSlowVolume" serializeAs="Xml">
                <value>
                    <MakeSlowVolumeParam xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <YMin>0</YMin>
                        <YMax>0.9999</YMax>
                        <Ya>0.1</Ya>
                        <Yb>0.1</Yb>
                        <Yc>0.1</Yc>
                        <Yd>0.1</Yd>
                        <X>0.5</X>
                        <XMin>0.4</XMin>
                        <XMax>1</XMax>
                    </MakeSlowVolumeParam>
                </value>
            </setting>
        </ShareViewer.Properties.Settings>
    </userSettings>
</configuration>