<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ShareViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <ShareViewer.Properties.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="ExtraFolder" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="AllTablesFolder" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="SharesUrl" serializeAs="String">
                <value>http://www.bsb-software.de/rese/</value>
            </setting>
            <setting name="DataDaysListingFilename" serializeAs="String">
                <value>Inhalt.txt</value>
            </setting>
            <setting name="InitialAllTableView" serializeAs="String">
                <value>"Row,Date,Day,TimeFrom,TimeTo,F,FP,FV"</value>
            </setting>
            <setting name="AllTableDataStart" serializeAs="String">
                <value />
            </setting>
            <setting name="AllTableDataEnd" serializeAs="String">
                <value />
            </setting>
            <setting name="AllTableTradingSpan" serializeAs="String">
                <value />
            </setting>
            <setting name="AllTableViews" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Make Slow (Five minutes) Prices SP,0,2,4,6,7,8,10,11,18,21,24</string>
                        <string>Make Five minutes Price Gradients PG,0,2,4,6,7,8,10,11,12,18,19,21,22,24,25</string>
                        <string>Find direction and Turning,0,2,4,6,7,8,10,48</string>
                        <string>Find Five minutes Gradients Figure PGF,0,2,4,6,7,8,10,48</string>
                        <string>Related volume Figure (RPGFV) of biggest PGF,0,2,4,6,7,8,10,48</string>
                        <string>Make High Line HL,0,2,4,6,7,8,10,48</string>
                        <string>Make Low Line LL,0,2,4,6,7,8,10,48</string>
                        <string>Make Slow Volumes SV,0,2,4,6,7,8,10,48</string>
                        <string>Slow Volume Figure SVFac,0,2,4,6,7,8,10,48</string>
                        <string>Slow Volume Figure SVFbd,0,2,4,6,7,8,10,48</string>
                        <string>Identify Lazy Shares,0,2,4,6,7,8,10,48</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ShareViewer.Properties.Settings>
    </userSettings>
</configuration>